<hr />

<ul>
  <% if controller_name != 'sessions' %>
    <li>
      <%= link_to new_session_path(resource_name) do %>
        <%= fa_icon('fw sign-in', class: 'text-muted') %> <%= t('.login') %>
      <% end %>
    </li>
  <% end %>

  <% if devise_mapping.registerable? && controller_name != 'registrations' %>
    <li>
      <%= link_to new_registration_path(resource_name) do %>
        <%= fa_icon('fw user-plus', class: 'text-muted') %> <%= t('.sign_up') %>
      <% end %>
    </li>
  <% end %>

  <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <li>
      <%= link_to new_password_path(resource_name) do %>
        <%= fa_icon('fw key', class: 'text-muted') %> <%= t('.forgot_password') %>
      <% end %>
    </li>
  <% end %>

  <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <li>
      <%= link_to new_user_confirmation_path do %>
        <%= fa_icon('fw envelope', class: 'text-muted') %> <%= t('.receive_confirmation_instructions') %>
      <% end %>
    </li>
  <% end %>

  <% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <li>
      <%= link_to new_unlock_path(resource_name) do %>
        <%= fa_icon('fw envelope', class: 'text-muted') %> <%= t('.receive_unlock_instructions') %>
      <% end %>
    </li>
  <% end %>

  <% if devise_mapping.omniauthable? %>
    <% resource_class.omniauth_providers.each do |provider| %>
      <li>
        <%= link_to omniauth_authorize_path(resource_name, provider) do %>
          <%= t('.login_with', provider: OmniAuth::Utils.camelize(provider)) %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
