<h1 class="section-title">Usuários</h1>

<ol class="breadcrumb">
  <li><%= link_to 'Home', admin_root_path %></li>
  <li><%= link_to 'Contas', admin_account_root_path %></li>
  <li><%= link_to 'Usuários', admin_account_users_path %></li>
  <% if content_for?(:page_title) %>
    <li class="active"><%= yield :page_title %></li>
  <% end %>
</ol>
