<footer class="admin-footer">
  <div class="container-fluid">
    <ul class="list-unstyled list-inline">
      <li>
        <%= link_to 'http://codde.io', title: 'Codde', target: 'blank' do %>
          <%= image_tag('codde.io.png', style: 'height:27px') %>
        <% end %>
      </li>
      <li class="pull-right for-support">
        <%= link_to 'mailto:suporte@codde.io', target: 'blank' do %>
          <div><%= pmd_icon('mail') %></div>
          <small>suporte@codde.io</small>
        <% end %>
      </li>
    </ul>
  </div>
</footer>
