<aside class="pmd-sidebar pmd-sidebar-open sidebar-default pmd-sidebar-slide-push pmd-sidebar-left bg-fill-darkblue sidebar-with-icons" role="navigation">
  <ul class="nav pmd-sidebar-nav">
    <li class="dropdown pmd-dropdown pmd-user-info visible-xs visible-md visible-sm visible-lg">
      <a aria-expanded="false" data-toggle="dropdown" class="btn-user dropdown-toggle media" data-sidebar="true" aria-expandedhref="javascript:void(0);">
        <div class="media-left">
          <%= pmd_icon('perm_identity', class: 'pmd-md') %>
        </div>
        <div class="media-body media-middle"><%= current_user.full_name || current_user.email %></div>
        <div class="media-right media-middle"><i class="dic-more-vert dic"></i></div>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
      </ul>
    </li>

    <li>
      <%= link_to admin_root_path do %>
        <%= pmd_icon('dashboard', class: 'media-left media-middle') %>
        <span class="media-body">Dashboard</span>
      <% end %>
    </li>

    <li class="dropdown pmd-dropdown open">
      <a href="#" data-toggle="dropdown" class="btn-user dropdown-toggle media">
        <%= pmd_icon('people', class: 'media-left media-middle') %>
        <span class="media-body">Contas</span>
        <div class="media-right media-bottom"><i class="dic-more-vert dic"></i></div>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Dashboard', admin_account_root_path, class: 'active' %></li>
        <li><%= link_to 'Usuários', admin_account_users_path %></li>
      </ul>
    </li>
  </ul>
</aside>
