<% content_for :head_title do %>
  <%= admin_page_title yield :page_title %>
<% end %>

<% content_for :navbar do %>
  <%= render 'layouts/admin/navbar' %>
<% end %>

<% content_for :left_sidebar do %>
  <%= render 'layouts/admin/left_sidebar' %>
<% end %>

<% content_for :breadcrumb_title do %>
  <%= render 'layouts/admin/breadcrumb_title' %>
<% end %>

<% content_for :right_sidebar do %>
  <%= render 'layouts/admin/right_sidebar' %>
<% end %>

<% content_for :footer do %>
  <%= render 'layouts/admin/footer' %>
<% end %>

<%= render 'layouts/propeller/application' %>
