<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { id: 'devise-sign-in' }) do |f| %>
  <%= render 'shared/resource_errors_messages', resource: resource %>

  <div class="row">
    <div class="col-md-12 form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  </div>

  <button class="btn btn-block btn-primary">
    <%= fa_icon_text('fw key', t('.submit')) %>
  </button>
<% end %>
