<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: 'devise-password-update' }) do |f| %>
  <%= render 'shared/resource_errors_messages', resource: resource %>

  <div class="row">
    <div class="col-xs-6 form-group">
      <%= f.label :password %> <br />
      <%= f.password_field :password, id: :user_update_password, class: 'form-control', autocomplete: :off %>
    </div>

    <div class="col-xs-6 form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, id: :sign_up_password, class: 'form-control', autocomplete: :off %>
    </div>
  </div>

  <button class="btn btn-block btn-primary">
    <%= fa_icon_text('fw key', t('.submit')) %>
  </button>
<% end %>

<%= render "devise/shared/links" %>
