/*!
 * Propeller v1.1.0 (http://propeller.in)
 * Copyright 2016-2017 Digicorp, Inc.
 * Licensed under MIT (http://propeller.in/LICENSE)
 */

body, html {
  height: 100%;
}

.pmd-content {
  min-height: 100%;
}

.dashboard {
  .card-header.no-margin {
    margin: 0;
  }
  .pmd-card {
    margin-bottom: 30px;
  }
}

.caret {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-top: 5px solid;
}

.pmd-navbar.navbar .btn.pmd-btn-fab {
  &:hover, &:focus, &.focus {
    color: #fff;
  }
}

/*========================== header css ===========================*/
.navbar-inverse {
  background-color: #4285f4;
  border-color: #4285f4;
  .navbar-brand {
    img {
      max-height: 30px;
      margin-top: 10px;
    }
  }
}

@media (max-width: 767px) {
  .navbar-brand > svg {
    height: 40px;
    width: auto;
  }
}

/*============================= notification =========================*/

.notification {
  .pmd-badge[data-badge]::after {
    background-color: #fff;
    color: #333;
  }
  .pmd-dropdown-menu-container {
    top: 65px;
  }
  &.open .pmd-dropdown-menu-container:after {
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    right: 24px;
    position: absolute;
    top: -6px;
  }
  .notification-blank {
    padding: 120px 16px;
    text-align: center;
    opacity: 0.7;
  }
}

nav .notification .notification-blank span.dic {
  display: block;
  font-size: 58px;
  margin-bottom: 10px;
  opacity: 0.3;
}

.notification {
  .dropdown-menu {
    padding: 0;
    width: 320px;
    position: relative;
  }
  a {
    &.dropdown-toggle {
      margin-top: 25px;
    }
    position: relative;
    overflow: visible;
  }
  .list-group-item {
    background: #F9F9F9;
    line-height: 15px;
    cursor: pointer;
    float: left;
    width: 100%;
    padding: 0;
    border-top: 1px solid #ebebeb;
    margin: 0;
    a {
      border: 0;
    }
    .avatar-list-img40x40 {
      margin-top: 0;
    }
    .list-group-item-text {
      line-height: 1.4;
      display: block;
      white-space: normal;
      font-size: 14px;
    }
    .list-group-item-date {
      color: rgba(0, 0, 0, 0.44);
      font-size: 13px;
      display: block;
    }
    > a {
      padding: 16px;
      right: 0;
      margin-top: 0;
    }
    &.unread {
      background: #fff;
    }
    &:hover {
      background: #F5F5F5;
    }
  }
}

.pmd-navbar .navbar-nav > li.notification svg {
  margin-right: 0;
}

.notification .nav-dropdown h3 a {
  text-decoration: underline;
  margin-top: 0;
  &:hover {
    text-decoration: none;
  }
}

.avatar-list-img40x40 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: table-cell;
  overflow: hidden;
  vertical-align: middle;
  position: relative;
  text-align: center;
  .dic {
    vertical-align: middle;
  }
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  position: relative;
  line-height: 38px;
  img {
    max-height: 40px;
    width: auto;
    height: auto;
    max-width: 40px;
    display: inline-block;
  }
}

.avatar-list-img140x140 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  position: relative;
  text-align: center;
  line-height: 140px;
  margin: 0 auto;
  &::after {
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
    content: "";
    height: 140px;
    left: 0;
    position: absolute;
    top: 0;
    width: 140px;
    z-index: 100;
  }
  img {
    max-height: 140px;
    width: auto;
    height: auto;
    max-width: 140px;
    display: inline-block;
  }
}

.notification .pmd-list-avatar {
  display: inline;
}

@media (max-width: 767px) {
  .notification a.dropdown-toggle {
    margin-top: 18px;
  }
}

/*============================= content area =========================*/

.pmd-content {
  padding-top: 63px;
  padding-bottom: 90px;
  padding-left: 0;
  padding-right: 0;
  .container-fluid {
    max-width: 1590px;
  }
}

@media (max-width: 767px) {
  .pmd-content {
    padding-top: 63px;
    padding-left: 0;
    padding-bottom: 210px;
    padding-right: 0;
  }
}

/*============================== dashboard common css ===============================*/

.dashboard {
  margin-top: 30px;
  animation: fadeIn cubic-bezier(0.55, 0, 0.1, 1) 0.8s;
  -webkit-animation: fadeIn cubic-bezier(0.55, 0, 0.1, 1) 0.8s;
  -ms-animation: fadeIn cubic-bezier(0.55, 0, 0.1, 1) 0.8s;
  -o-animation: fadeIn cubic-bezier(0.55, 0, 0.1, 1) 0.8s;
  -moz-animation: fadeIn cubic-bezier(0.55, 0, 0.1, 1) 0.8s;
  padding-right: 15px;
  padding-left: 15px;
  .service-icon {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    img, svg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 20px;
    }
  }
  .row > div {
    padding-left: 10px;
    padding-right: 10px;
  }
  .pmd-card-title {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .pmd-card {
    margin-bottom: 20px;
  }
  .pmd-card-body, .notification .content-section {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .dashboard {
    margin-top: 8px;
    padding-left: 0;
    padding-right: 0;
  }
}

/* Dashboard title icon */

/* Dashboard card*/

h2.typo-fill-secondary {
  color: rgba(77, 87, 93, 0.68);
  font-size: 22px;
}

.dashboard .pmd-display2 {
  opacity: 1;
  font-weight: 500;
}

.grow-up {
  margin-left: 5px;
}

/*======= Breadcrumb =======*/

.breadcrumb {
  background: transparent;
  font-size: 14px;
  margin: 0 0 20px 0px;
  padding: 0;
}

/*================= site activity css =========================*/
/*total sales circle chart css*/

.total-sales {
  text-align: center;
  display: inline-block;
  width: 100%;
  .chart {
    width: 50%;
    &.circle-chart {
      padding-right: 3%;
    }
    &.total-revenue {
      padding-left: 3%;
    }
  }
  .circle {
    display: inline-block;
    margin: 0 10px 0 10px;
    position: relative;
  }
  .circles-wrp {
    margin-bottom: 6px;
  }
  .circles-integer {
    font-size: 20px;
    font-family: 'Roboto';
    display: block;
    font-weight: 700;
  }
  .border-right {
    border-right: 1px solid #dfe3e7;
  }
  .chart-title {
    line-height: 1.1;
    padding: 0 15px;
    width: 99px;
    margin: auto;
    font-weight: 500;
  }
  .circle .circles-text {
    height: auto !important;
  }
  .circles-integer:before {
    content: "";
    display: inline-block;
    height: 19px;
    vertical-align: middle;
    background-size: 11px;
  }
}

/* total sales progressbar chart css*/

.total-revenue {
  .progress {
    height: 8px;
    margin: 0;
    border-radius: 10px;
    background: #DFE3E7;
    box-shadow: none;
  }
  ul {
    margin: 0;
  }
  .list-group-item {
    padding: 1px 0;
    display: table;
    margin: 0 auto;
  }
  .media-body {
    vertical-align: middle;
    max-width: 175px;
  }
  .media-left {
    font-size: 16px;
    font-family: 'Roboto';
    text-align: left;
    color: #888888;
    font-weight: 500;
  }
  .media-right {
    font-size: 20px;
    font-family: 'Roboto';
    text-align: left;
    padding-left: 20px;
    min-width: 110px;
    font-weight: 700;
  }
  .progress .progress-bar {
    height: 100%;
    width: 0;
    background-color: #F7912F;
    color: #F7912F;
  }
}

@media (min-width: 991px) and (max-width: 1600px) {
  .total-sales .chart {
    &.circle-chart {
      padding-right: 3%;
      width: 60%;
    }
    &.total-revenue {
      padding-left: 3%;
      width: 40%;
    }
  }
}

@media (max-width: 990px) {
  .total-sales {
    .chart {
      width: 100%;
    }
    .circle {
      margin-bottom: 20px;
    }
    .chart.total-revenue {
      margin-top: 20px;
    }
    .border-right {
      border: none;
    }
  }
}

/*===================== marketplace card css new ============================*/

.advertising-info {
  min-height: 262px;
}

@media (max-width: 1360px) {
  .advertising-info .pmd-display2 {
    font-size: 20px;
  }
}

@media (max-width: 990px) {
  .advertising-info {
    min-height: inherit;
  }
}

/*=================== range date picker =====================*/

.daterangepicker.dropdown-menu {
  opacity: 1;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  clip: initial;
}

.range-calendar {
  cursor: pointer;
  position: absolute;
  right: 30px;
  max-width: 260px;
  svg:hover path {
    fill: #4d575d !important;
  }
}

@media (max-width: 767px) {
  .datetimepicker {
    display: none;
  }
}

/*====================== browser usage ================*/

.value-added .value-added-section {
  border-right: 1px solid #dfe3e7;
  border-bottom: 1px solid #dfe3e7;
  padding-top: 14px;
  padding-bottom: 13px;
  .title {
    font-size: 18px;
    line-height: 1.2;
    color: rgba(77, 87, 93, 0.68);
    font-weight: 500;
  }
  &:nth-child(2), &:nth-child(4), &:nth-child(6) {
    border-right: 0;
  }
  &:nth-child(5), &:nth-child(6) {
    border-bottom: 0;
  }
}

.pt10 {
  padding-top: 10px;
}

/*========================== statistics card =======================*/

.statistics {
  padding: 0 10px;
  li {
    width: 32.68%;
    vertical-align: top;
    margin-bottom: 20px;
  }
  .statistic-img-circle {
    width: 64px;
    height: 64px;
    border: 4px solid #3cad44;
    border-radius: 50%;
    margin: 0 auto 8px;
  }
  img, svg {
    max-width: 57px;
    margin: 0 auto;
    height: 57px;
  }
  .pmd-display2 {
    font-size: 28px;
    line-height: 1.2;
  }
  .typo-fill-secondary {
    color: rgba(77, 87, 93, 0.68);
    font-weight: 500;
  }
}

.users-details-info {
  margin-bottom: 15px;
  float: left;
  width: 30%;
}

.users-details-chart {
  margin: auto;
  min-width: 70%;
  width: 70%;
  float: right;
  height: 300px;
}

@media (max-width: 767px) {
  .statistics li {
    width: 48%;
  }
}

/*======================== user details ====================*/

.sms-details {
  min-height: 402px;
  .media-right {
    width: 15%;
    a {
      margin: 0 5px;
    }
  }
  .card-header {
    svg:hover {
      path, rect, ellipse {
        fill: #4d575d;
      }
    }
    .service-icon svg:hover {
      path, rect {
        fill: #fff;
      }
    }
  }
  .pmd-display2 {
    margin-top: 0;
  }
}

@media (max-width: 1360px) {
  .users-details-info {
    width: 100%;
  }
  .users-details-chart {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 767px) {
  .sms-details {
    min-height: 445px;
  }
}

/*====================== project progress css ====================*/

.project-progress {
  .content-section ul {
    margin: 10px 0 0 0;
  }
  .timeline {
    padding-left: 50px;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    margin: 0;
    padding-left: 50px;
    padding-top: 15px;
    &:last-child {
      border: 0;
    }
    &:before {
      background: #fff;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 25px;
      height: 101%;
      width: 2px;
      display: block;
    }
    &:after {
      background: #fff;
      border-radius: 50% !important;
      content: "";
      display: block;
      height: 12px;
      left: 25px;
      margin-left: -5px;
      margin-top: -6px;
      position: absolute;
      top: 50%;
      width: 12px;
      z-index: 2;
    }
    &.project-notification {
      &:before, &:after {
        background: #df6c6c !important;
      }
    }
    &.project-info {
      &:before, &:after {
        background: #67b951 !important;
      }
    }
  }
  li h5.typo-fill-secondary {
    color: #999;
    font-size: 12px;
    margin: 0;
    margin-top: 4px;
  }
}

/*===================== recent post css ========================*/

.recent-post {
  ul {
    margin-top: 0;
  }
  .card-body {
    min-height: 289px;
  }
}

.reload {
  float: right;
  &:hover svg path {
    fill: #4d575d;
  }
}

.pmd-card-list .post {
  width: 24%;
  text-align: right;
}

.post-time {
  font-size: 11px;
  color: #a5a4a4;
}

@media (max-width: 767px) {
  .pmd-card-list .post {
    display: block;
    line-height: 1;
    padding-left: 58px;
    text-align: left;
    width: 100%;
  }
}

/*footer*/

.admin-footer {
  background: #fff none repeat scroll 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 14px;
  padding-top: 10px;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1) 0s;
  margin-top: -52px;
  position: relative;
  z-index: 1;
}

.pmd-sidebar {
  ~ .admin-footer {
    padding-left: 64px;
  }
  &.pmd-sidebar-open ~ .admin-footer {
    padding-left: 290px;
  }
}

.copyright-text {
  color: #4d575d;
  font-size: 14px;
  padding-top: 8px;
  a:hover {
    color: #4285f4;
  }
}

.admin-footer {
  a {
    color: #4d575d;
    display: inline-block;
  }
  .pmd-card-subtitle-text {
    font-size: 12px;
    line-height: 18px;
    opacity: 1;
    margin: 0px;
  }
  .media-left {
    padding-left: 0;
    padding-right: 10px;
    svg {
      margin-top: 4px;
    }
  }
  .pmd-card-title-text a {
    color: #fff;
  }
  a {
    &:hover svg path, &:focus svg path {
      fill: #4d575d;
    }
    &:hover {
      color: #4d575d;
    }
  }
  .list-inline {
    line-height: 1.2;
  }
  .download-now, .for-support {
    max-width: 240px;
    padding: 0 15px;
  }
  .download-now a > div, .for-support a > div, .download-now a > div svg, .for-support a > div svg {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
  .download-now a > div svg, .for-support a > div svg {
    margin-right: 10px;
  }
  ul {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .admin-footer {
    margin-top: -111px;
  }
  .pmd-sidebar ~ .admin-footer {
    padding-left: 0;
  }
  /*footer*/
  .copyright-text {
    text-align: center;
  }
  .admin-footer {
    .media-left {
      display: block;
    }
    a {
      text-align: center;
    }
    .list-inline > li {
      display: block;
      padding: 8px 0;
    }
    a {
      text-align: left;
    }
    .download-now, .for-support {
      float: none;
      max-width: 100%;
      width: 100%;
    }
  }
}

@keyframes fadeIn {
  0% {
    transform: translate(0, 40px);
    -webkit-transform: translate(0, 40px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}


@-webkit-keyframes fadeIn {
  0% {
    transform: translate(0, 40px);
    -webkit-transform: translate(0, 40px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}


@-moz-keyframes fadeIn {
  0% {
    transform: translate(0, 40px);
    -webkit-transform: translate(0, 40px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}


/*=============================For Loader========================*/

.btn-loader.loader {
  opacity: 1;
  margin: auto;
  font-size: 0.3em;
  position: absolute;
  text-indent: -9999em;
  border-top: 1em solid rgba(226, 60, 60, 0.2);
  border-right: 1em solid rgba(226, 60, 60, 0.2);
  border-bottom: 1em solid rgba(226, 60, 60, 0.2);
  border-left: 1em solid #E23C3C;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: 50%;
  width: 7em;
  height: 7em;
  &:after {
    border-radius: 50%;
    width: 7em;
    height: 7em;
  }
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/*=========================faqs=========================*/

.faqs-section {
  height: 100%;
  color: #333;
  h3 {
    margin-bottom: 50px;
  }
  .list-group-item {
    &.active {
      background: transparent;
      &:hover, &:focus {
        background: transparent;
      }
      a, &:hover a, &:focus a {
        color: #4285f4;
      }
    }
    a {
      &:hover, &:focus {
        color: #4285f4;
      }
    }
  }
  h5 {
    color: rgb(68, 68, 68);
    margin-bottom: 50px;
    margin-top: 50px;
  }
  p {
    color: rgb(119, 119, 119);
    font-size: 18px;
    strong {
      font-weight: 600;
    }
  }
  .list-group-item.active .dic {
    color: #4285f4;
  }
  .panel {
    background-color: transparent;
    text-align: left;
    box-shadow: none;
    border: 0;
  }
  .panel-heading {
    background-color: transparent;
  }
}

/*Accordion*/

.faqs-list {
  margin: 30px;
}

.faqs-section {
  .panel-title {
    text-transform: none;
    font-size: 18px;
    line-height: 24px;
  }
  .dic.media-left {
    padding-right: 19px;
    line-height: 1;
    font-size: 22px;
  }
  .panel-group .panel-heading + .panel-collapse > {
    .panel-body, .list-group {
      border: none;
      padding-left: 55px;
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}

/*===============================sidebar with icons=============================*/

.pmd-sidebar .pmd-sidebar-nav {
  li a {
    color: #c8c8c8;
    font-size: 15px;
    font-family: "Roboto";
    padding: 18px 24px;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    i {
      min-width: 44px;
      text-align: center;
    }
  }
  a i svg {
    display: block;
    margin: 0 auto;
  }
}

.pmd-sidebar-left .nav > li > a {
  &:hover, &:focus, &:active, &.active {
    background-color: #1a2940;
    color: #fff;
  }
  &:hover svg path, &:focus svg path, &:active svg path, &.active svg path, &:hover svg, &:focus svg, &:active svg, &.active svg {
    fill: #fff;
  }
}

.pmd-sidebar.pmd-sidebar-open {
  width: 274px;
  min-width: 274px;
}

.pmd-sidebar-slide-push.pmd-sidebar-open ~ {
  .wrapper .constructor, .pmd-content {
    margin-left: 274px;
  }
}

.pmd-sidebar-left .nav > li.pmd-user-info > a {
  border-bottom: solid 1px #1a2940;
  font-size: 16px;
  color: #fff;
  padding-left: 12px;
  &:hover, &:focus, &:active, &.active {
    background: #1a2940;
  }
}

.pmd-sidebar {
  .pmd-sidebar-nav {
    .dropdown-menu {
      background: #1a2940;
      padding: 10px 0;
    }
    li {
      &.entity-drop a {
        background: #2C343F;
      }
      .dropdown-menu li a {
        padding-left: 65px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: transparent;
        &:hover, &:focus, &.active {
          opacity: 1;
          color: #fff;
        }
      }
    }
    .dropdown-menu li a {
      padding-left: 24px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  .dropdown-menu > li > a {
    &:hover, &:focus, &.active {
      color: #ffffff;
    }
  }
}

.pmd-content {
  margin-left: 64px;
}

.pmd-sidebar {
  width: 64px;
  min-width: 64px;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  background-color: #1f2f46;
  &.pmd-sidebar-open {
    min-width: 274px;
    width: 274px;
  }
  .pmd-sidebar-nav li a {
    padding: 18px 20px 16px;
    color: #c8c8c8;
    background-color: transparent;
  }
}

.pmd-sidebar-left .nav > li > a {
  &:hover svg.stroke-fill path, &:focus svg.stroke-fill path, &:active svg.stroke-fill path, &.active svg.stroke-fill path {
    stroke: #fff;
    fill: none;
  }
  &:hover svg circle, &:focus svg circle, &:active svg circle, &.active svg circle {
    fill: #fff;
  }
  &:hover svg.stroke-fill.online-order path, &:focus svg.stroke-fill.online-order path, &:active svg.stroke-fill.online-order path, &.active svg.stroke-fill.online-order path {
    stroke: #fff;
  }
  &:hover svg.stroke-fill.online-order polygon, &:focus svg.stroke-fill.online-order polygon, &:active svg.stroke-fill.online-order polygon, &.active svg.stroke-fill.online-order polygon, &:hover svg.reports rect, &:focus svg.reports rect, &:active svg.reports rect, &.active svg.reports rect {
    fill: #fff;
  }
}

/*online order icon*/

/*reports icon*/

/*svg*/

.stake-chart .set-svg svg {
  max-height: 37px;
}

.set-svg svg {
  max-height: 30px;
}

.pmd-display2 {
  font-size: 28px;
}

.sidebar-with-icons .material-icons.media-left {
  padding-right: 16px;
}

@media (max-width: 1200px) {
  .pmd-sidebar:hover {
    width: 274px;
    max-width: 274px;
  }
  .highcharts-container {
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  .pmd-sidebar-overlay.pmd-sidebar-overlay-active {
    visibility: hidden;
    opacity: 0;
  }
}

@media (max-width: 767px) {
  .pmd-sidebar {
    transform: translate3d(-280px, 0px, 0px);
  }
  .pmd-content {
    margin-left: 0;
  }
}

/*====================section custom css================*/

.section-custom {
  max-width: 800px;
}

/*========================= Inbox Style starts =========================*/

.mailbox {
  .tab-pane h5 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    margin: 30px 0 10px;
    font-weight: 400;
    text-align: right;
  }
  .avtar-detail {
    color: #333;
    display: table-cell;
  }
  .user-details {
    min-width: 200px;
    .avatar-list-img40x40 {
      float: left;
      margin-right: 16px;
      display: table-cell;
    }
  }
  .date-time {
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.44);
    display: inline-block;
    text-align: right;
    min-width: 80px;
    line-height: 1.25;
  }
  .list-group-item {
    padding: 16px;
    border-bottom: solid 1px #eee;
    .message-detail .list-group-item-heading {
      line-height: 18px;
    }
  }
  .read.list-group-item {
    background: #f9f9f9;
  }
  .list-group-item {
    .message-detail .list-group-item-heading span {
      color: rgba(0, 0, 0, 0.54);
      font-size: 14px;
      font-weight: 400;
    }
    .avtar-detail {
      .list-group-item-heading span {
        color: rgba(0, 0, 0, 0.54);
        font-size: 15px;
      }
      .list-group-item-text {
        font-size: 13px;
        line-height: 1.25;
        margin-top: 4px;
        display: inline-block;
        color: rgba(0, 0, 0, 0.54);
        opacity: 1;
      }
    }
  }
  .action-bar {
    .checkbox {
      margin: 4px 0 0 16px;
      width: 18px;
      .custom-checkbox {
        width: 18px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .btn-delete {
      background: transparent;
      padding: 5px;
      height: 35px;
      width: auto;
      min-width: inherit;
      vertical-align: middle;
      line-height: 31px;
      margin-left: 10px;
    }
    .floatinglabels {
      position: relative;
      .form-control {
        border-color: #ccc;
      }
    }
    .dic-search {
      bottom: 5px;
      color: #848484;
      display: inline-block;
      font-size: 20px;
      position: absolute;
      right: 0;
      width: 20px;
    }
    .btn-delete {
      &:hover .dc {
        background-position: center 0px;
      }
      .dc {
        vertical-align: middle;
        margin: 0;
      }
    }
  }
  .media-left.media-check {
    vertical-align: middle;
    padding-right: 4px;
  }
}

.btn-delete {
  .dic {
    width: 22px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.54);
  }
  &:hover .dic {
    color: rgba(0, 0, 0, 0.84);
  }
}

.mailbox {
  .checkbox label.pmd-checkbox {
    padding-right: 0;
  }
  .list-group-item a {
    &:hover, &:focus, &:active {
      text-decoration: none;
    }
  }
}

@media (max-width: 767px) {
  .mailbox {
    .use-details {
      padding: 0;
      width: 100%;
    }
    .media-body {
      display: block;
      margin-top: 8px;
      padding-left: 30px;
      width: auto;
    }
    .date-time {
      min-width: inherit;
      padding-left: 19px;
    }
    .user-details {
      min-width: 100%;
    }
    .action-bar .btn-delete {
      padding: 5px 2px;
    }
  }
}

/*========================= Notification  Start=========================*/

.btn-group .list-group {
  .list-group-item-text {
    font-size: 13px;
    line-height: 20px;
    display: inline-block;
    font-weight: 400;
    color: #666;
    font-family: Roboto;
  }
  .list-group-item-date {
    display: block;
    color: #a4a4a4;
    font-size: 13px;
  }
}

.page-content .list-group .list-group-item-date {
  display: block;
  color: #a4a4a4;
  font-size: 13px;
}

.btn-group .list-group {
  .list-group-item a {
    font-weight: 500;
    color: #333;
    font-family: Roboto;
  }
  li:last-child {
    border: 0;
  }
}

.notifications .media-body {
  overflow: visible;
}

.page-content {
  > h2 {
    color: #a4a4a4;
  }
  .list-group-item-text {
    font-family: roboto;
    font-weight: 300;
    opacity: 1;
    font-size: 16px;
    a {
      font-weight: 500;
      color: #333;
    }
  }
}

.notifications .card .list-group-item {
  border-bottom: 1px solid #e8e8e8;
  border-radius: 0;
  margin: 0;
  position: relative;
  padding: 15px;
}

.page-content .list-group-item.last {
  border: none;
  padding-bottom: 0;
}

.list-group-item {
  &.saved-article {
    &:hover, &.unread {
      background: #F7F7F7;
    }
  }
  &.unread {
    background: #F7F7F7;
  }
  &.saved-article.unread, &.unread {
    background: #fff;
  }
}

.list-group-item-text {
  opacity: 0.74;
}

.notifications .list-group-item.new-day {
  &:first-child {
    margin-top: 46px;
  }
  &::before {
    content: attr(data-date);
    display: block;
    font-size: 13px;
    font-weight: 500;
    left: 0;
    position: absolute;
    color: rgba(51, 51, 51, 0.64);
    top: -30px;
  }
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  margin-top: 62px;
}

.mobile-only {
  display: none !important;
}

/*=================Login css====================*/

.body-custom {
  height: 100%;
}

.logincard {
  margin: auto;
  position: relative;
  top: 50%;
  max-width: 360px;
  transform: translate(0px, -50%);
  .checkbox {
    margin-left: 0px;
    label {
      padding: 0;
    }
  }
  .dic {
    margin-right: 7px;
  }
  .card-header {
    padding: 0;
    margin: 0px auto;
  }
}

.loginlogo {
  text-align: center;
  padding: 30px 15px 10px;
  a img {
    max-width: 100%;
  }
}

.forgot-password {
  padding-top: 8px;
}

.remember {
  color: #999;
}

.redirection-link {
  margin-top: 30px;
  margin-bottom: 30px;
}

.card-footer-no-border {
  border-color: transparent;
  padding-top: 0;
}

.card-footer-p16 {
  padding-left: 20px;
  padding-right: 20px;
}

.login-card h3, .register-card h3, .forgot-password-card h3 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 20px;
}

.login-card .card-body {
  padding-bottom: 10px;
  margin: 0;
}

.register-card {
  .card-body {
    padding-bottom: 10px;
    margin: 0;
  }
  display: none;
}

.forgot-password-card {
  display: none;
}

.register-card, .login-card, .forgot-password-card {
  position: relative;
}

.register-card h3 span, .login-card h3 span {
  color: rgba(0, 0, 0, 0.54);
}

.forgot-password-card h3 span {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
  width: 80%;
  margin-top: 5px;
  display: inline-block;
  line-height: 18px;
}

.logincard .alert {
  display: none;
}

.forgot-password-card .form-group.pmd-textfield {
  margin-bottom: 55px;
}

.card-footer .pmd-checkbox-label {
  display: inline-block;
  margin-top: -2px;
}

@media screen and (max-width: 768px) {
  .logincard {
    max-width: 300px;
  }
  .forgot-password a {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 480px) {
  .logincard {
    .loginlogo img {
      height: 60px;
    }
    .card {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  .logincard {
    max-width: 330px;
  }
}

@media (max-width: 320px) {
  .logincard {
    max-width: 290px;
  }
}

/*==========================Contact Start============================*/

.contact-page {
  margin-bottom: 250px;
  position: relative;
  .contact-form {
    bottom: 0;
    left: 0;
    margin-top: -436px;
    position: relative;
    right: 0;
    top: 200px;
  }
  .contact-details {
    display: table;
    width: 100%;
  }
  .feedback-form {
    padding: 30px 20px;
    width: 100%;
  }
  .fill .adress-col {
    background: #4285f4 none repeat scroll 0 0;
    display: table-cell;
    float: none;
    padding-bottom: 30px;
    padding-top: 30px;
    vertical-align: top;
  }
  .pmd-display1 {
    color: #4d4d4d;
    margin-top: 0;
    opacity: 1;
    font: 33px/40px "Roboto";
  }
  .fill .adress-col .contact-info {
    color: #fff;
    margin-top: 35px;
    span {
      b {
        text-transform: uppercase;
        color: #fff;
        font-weight: 300;
        opacity: 0.74;
        font-size: 13px;
      }
      a {
        color: #fff;
        opacity: 0.74;
      }
    }
  }
  .contact-details .content-title {
    color: #fff;
  }
  .fill .adress-col .content-title {
    color: #fff;
    margin-top: 0;
    font: 33px/40px "Roboto";
  }
}

.feedback-form .sub-title {
  color: #737373;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 20px;
}

@media (max-width: 990px) {
  .contact-page {
    .contact-form {
      padding: 0 20px;
    }
    .fill .adress-col {
      display: inline-block;
    }
  }
}

@media (max-width: 767px) {
  .contact-page {
    .contact-form {
      padding: 0 8px;
    }
    .fill .adress-col .contact-info {
      margin-top: 20px;
    }
  }
}

/*=================== About css ==============================*/

.about-content {
  padding: 0 20px 16px;
  ol {
    padding-left: 16px;
  }
  h3 {
    font-weight: bold;
  }
}

/*================== 404 page========================*/

.body-404page {
  background-color: #1453a1;
  display: block;
}

.errorpage {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
  background: url("themes/images/propeller-bg.jpg") bottom no-repeat;
}

.header-primary {
  margin-top: 160px;
  padding: 8px 0;
  text-align: center;
  > a {
    transition: opacity 0.3s ease-in-out 0s;
  }
  .logo {
    animation: 1.2s linear 0s normal none 1 running fadeInUp;
  }
}

.content-primary {
  margin: 0 auto;
  padding: 0px 0 224px;
  text-align: center;
  color: #fff;
  .section-footer {
    margin-top: 40px;
  }
  h1.title {
    color: #fff;
    font-size: 36px;
  }
  > {
    h1 {
      animation: 1.7s linear 0s normal none 1 running fadeInUp;
      margin-bottom: 20px;
    }
    p {
      animation: 1.9s linear 0s normal none 1 running fadeInUp;
    }
  }
  .section-footer .btn {
    margin: 0 8px;
    min-width: 160px;
    &.btn-primary {
      animation: 2.4s linear 0s normal none 1 running fadeIn;
    }
    &.btn-secondary {
      animation: 2.8s linear 0s normal none 1 running fadeIn;
    }
  }
}

/*======================== Blank page======================*/

.no-table-found {
  h2 {
    color: #555;
  }
  p {
    margin-bottom: 20px;
    opacity: 0.75;
    color: #555;
  }
  .btn {
    font-size: 15px;
    padding: 14px 30px;
    width: 290px;
  }
}

/*==================== todo list css ====================*/

.todos .pmd-card-list {
  min-height: 312px;
}

.todo-lists {
  .pmd-checkbox {
    margin-bottom: 0;
    vertical-align: middle;
  }
  span {
    display: table-cell;
  }
}

/*============= Profile css ======================*/

.fileinput {
  margin-bottom: 9px;
  display: inline-block;
  .form-control {
    padding-top: 7px;
    padding-bottom: 5px;
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
    cursor: text;
  }
  .thumbnail {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    min-height: 50px;
    background-color: #f8f8f8;
    > img {
      max-height: 100%;
    }
  }
  .btn {
    vertical-align: middle;
    &.btn-default {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
  display: none;
}

.fileinput-inline .fileinput-controls {
  display: inline;
}

.fileinput-filename {
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
}

.form-control .fileinput-filename {
  vertical-align: bottom;
}

.fileinput.input-group {
  display: table;
  > {
    * {
      position: relative;
      z-index: 2;
    }
    .btn-file {
      z-index: 1;
    }
  }
}

.fileinput-new {
  &.input-group .btn-file, .input-group .btn-file {
    border-radius: 0 4px 4px 0;
  }
  &.input-group .btn-file.btn-xs, .input-group .btn-file.btn-xs, &.input-group .btn-file.btn-sm, .input-group .btn-file.btn-sm {
    border-radius: 0 3px 3px 0;
  }
  &.input-group .btn-file.btn-lg, .input-group .btn-file.btn-lg {
    border-radius: 0 6px 6px 0;
  }
}

.form-group {
  &.has-warning .fileinput {
    .fileinput-preview {
      color: #8a6d3b;
    }
    .thumbnail {
      border-color: #faebcc;
    }
  }
  &.has-error .fileinput {
    .fileinput-preview {
      color: #a94442;
    }
    .thumbnail {
      border-color: #ebccd1;
    }
  }
  &.has-success .fileinput {
    .fileinput-preview {
      color: #3c763d;
    }
    .thumbnail {
      border-color: #d6e9c6;
    }
  }
}

.input-group-addon:not(:first-child) {
  border-left: 0;
}

.btn.btn-file {
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  min-width: 36px;
  padding: 5px 5px 4px;
  .dic {
    font-size: 20px;
  }
  > input[type=file] {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
}

.fileupload {
  .uneditable-input {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    height: 28px !important;
  }
  .thumbnail {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: middle;
    text-align: center;
    > img {
      display: inline-block;
      vertical-align: middle;
      max-height: 100%;
    }
  }
  .btn {
    vertical-align: middle;
  }
}

.fileupload-exists .fileupload-new, .fileupload-new .fileupload-exists {
  display: none;
}

.fileupload-inline .fileupload-controls {
  display: inline;
}

.fileupload-new .input-append .btn-file {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.fileupload {
  .fileupload-preview, .close.fileupload-exists {
    vertical-align: middle;
  }
}

.btn-file .ripple-wrapper {
  display: none;
}

.action-button {
  opacity: 0;
  position: absolute;
  bottom: 15px;
  left: 0px;
  text-align: center;
  width: 100%;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.fileinput {
  width: 166px;
  -webkit-transition: 0.4s ease-in-out;
  overflow: hidden;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  margin-right: 10px;
  &:hover .action-button {
    opacity: 1;
  }
}

.fileupload .btn {
  padding: 5px 10px;
  min-width: 36px;
  background-color: #FFF !important;
  font-size: 15px;
}

.prousername {
  margin-bottom: 20px;
}

.profile-edit .pmd-textfield .form-control-static {
  padding-top: 4px;
}

.pmd-card {
  margin-bottom: 0;
}

.component-section {
  margin-bottom: 20px;
  margin-top: 30px;
  h2 {
    margin-top: 0;
  }
}

.component-box {
  margin-bottom: 20px;
}

.component-desc {
  font-size: 14px;
  margin-top: 4px;
}

.component-box .pmd-card.pmd-card-inverse h3 {
  color: #fff;
  text-transform: capitalize;
  line-height: 1.4;
}

@media (max-width: 767px) {
  .component-section {
    margin-top: 0;
  }
}

.table-title-top-action {
  margin-top: 20px;
  a.btn {
    margin-left: 20px;
  }
}

.pmd-table-row-action {
  width: 156px;
  a {
    margin: -8px 0;
  }
}

.direct-expand {
  i::before {
    content: "\e148";
    font-family: "Material icons";
  }
  &.child-table-collapse i::before {
    content: "\e15D";
  }
}

.login-card-section {
  max-width: 400px;
}

.shadow-demo {
  margin-bottom: 30px;
  min-height: 100px;
}

.component-box .pmd-card-body > .btn {
  margin: 5px 2px;
}

.floating-action-custom .pmd-floating-action {
  position: relative;
}

.range-slider-container .pmd-card {
  min-height: 90px;
}

/*======================== Blank page======================*/

@media (max-width: 639px) {
  h1.pmd-display4 {
    font-size: 4rem;
  }
}

/*======================== Modal page======================*/

@media (max-width: 768px) {
  .component-box .pmd-card-body.modal-btn .btn, .pmd-card-body.dropdown-btn .btn {
    margin: 5px 2px;
  }
}

/*======================== Tab page======================*/

.dropdown-tab .pmd-tabs .nav .open > a {
  background-color: transparent;
  border-color: transparent;
  opacity: 1;
  &:hover, &:focus {
    background-color: transparent;
    border-color: transparent;
    opacity: 1;
  }
}
