<div id="<%= modal_id %>" tabindex="-1" class="modal fade" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"><%= text_confirmation %></div>

      <div class="pmd-modal-action text-right">
        <button data-dismiss="modal"  class="btn pmd-ripple-effect btn-default pmd-btn-flat" type="button">
          <%= t('.text.dismiss') %>
        </button>

        <%= link_to t('.text.destroy'), url, class: 'btn btn-danger', remote: true, method: :delete %>
      </div>
    </div>
  </div>
</div>
