#loading {
  background: #F5F5F5;
  position: fixed;
  height: 100%;
  width: 100%;
  padding-top: 75px;
  text-align: center;
  z-index: 9999;
  .spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
    > div {
      width: 18px;
      height: 18px;
      background-color: #1f2f46;

      border-radius: 100%;
      display: inline-block;
      -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
      animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .bounce2 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    .bounce1 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
  }
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
