<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: 'devise-sign-in' }) do |f| %>
  <%= render 'shared/resource_errors_messages', resource: resource %>
  <%= f.input :email %>
  <%= f.input :password, autocomplete: :off %>
  <%= link_to t('.forgot_password'), new_password_path(resource_name) %>
  <br><br>
  <div class="text-center">
    <%= f.submit t('.submit'), class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
