<!DOCTYPE html>
<html>
<head>
  <title><%= yield :head_title %></title>

  <meta content="width=device-width,initial-scale=1" name="viewport" />
  <meta charset="UTF-8" />

  <%= csrf_meta_tags %>

  <%= favicon_link_tag %>
  <%= favicon_link_tag 'icons/apple-touch-icon.png', rel: 'apple-touch-icon', type:'image/png' %>
  <%= favicon_link_tag 'icons/apple-touch-icon-57x57.png', rel: 'apple-touch-icon', type:'image/png', sizes: '57x57' %>
  <%= favicon_link_tag 'icons/apple-touch-icon-72x72.png', rel: 'apple-touch-icon', type:'image/png', sizes: '72x72' %>
  <%= favicon_link_tag 'icons/apple-touch-icon-76x76.png', rel: 'apple-touch-icon', type:'image/png', sizes: '76x76' %>
  <%= favicon_link_tag 'icons/apple-touch-icon-114x114.png', rel: 'apple-touch-icon', type:'image/png', sizes: '114x114' %>
  <%= favicon_link_tag 'icons/apple-touch-icon-120x120.png', rel: 'apple-touch-icon', type:'image/png', sizes: '120x120' %>
  <%= favicon_link_tag 'icons/apple-touch-icon-144x144.png', rel: 'apple-touch-icon', type:'image/png', sizes: '144x144' %>
  <%= favicon_link_tag 'icons/apple-touch-icon-152x152.png', rel: 'apple-touch-icon', type:'image/png', sizes: '152x152' %>
  <%= favicon_link_tag 'icons/apple-touch-icon-180x180.png', rel: 'apple-touch-icon', type:'image/png', sizes: '180x180' %>

  <%= stylesheet_link_tag 'preload', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'preload', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%#= render 'layouts/propeller/loading' %>

  <%= yield :navbar %>
  <%= yield :left_sidebar %>

  <div id="content" class="pmd-content">
    <div class="col-md-12">
      <%= yield :breadcrumb_title %>

      <%= yield %>
    </div>
  </div>

  <%= yield :right_sidebar %>
  <%= yield :footer %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
