<% content_for(:page_title, t('.title')) %>

<% if @users.any? %>
  <div class="pmd-table-card pmd-card pmd-z-depth">
    <table class="table pmd-table">
      <thead>
        <tr>
          <th class="col-md-4"><%= ta Account::User, :username %></th>
          <th class="col-md-6"><%= ta Account::User, :email %></th>
          <th class="col-md-2"></th>
        </tr>
      </thead>
      <tbody>
        <% @users.map do |user| %>
          <tr>
            <%= table_td(user, :username) %>
            <%= table_td(user, :email) %>
            <td>
              <div class="text-right">
                <%= link_to_edit edit_admin_account_user_path(user) %>
                <%= link_to_destroy admin_account_user_path(user) %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= pagination_links(@users) %>
<% else %>
  <div class="pmd-card pmd-z-depth">
    <div class="pmd-card-body">
      <%= bootstrap_alert_not_found_male(Account::User) %>
    </div>
  </div>
<% end %>
