<% content_for :head_title do %>
  <%= app_page_title yield :page_title %>
<% end %>

<% content_for :navbar do %>
  <%#= render 'layouts/navbar' %>
<% end %>

<% content_for :left_sidebar do %>
  <%#= render 'layouts/left_sidebar' %>
<% end %>

<% content_for :right_sidebar do %>
  <%#= render 'layouts/right_sidebar' %>
<% end %>

<% content_for :footer do %>
  <%#= render 'layouts/footer' %>
<% end %>

<%= render 'layouts/propeller/application' %>
